PORT=3333
DATABASE_PATH=./data/chucklarr.db
TMDB_BEARER_TOKEN=
RADARR_URL=http://localhost:7878
RADARR_API_KEY=
RADARR_QUALITY_PROFILE_ID=
RADARR_ROOT_FOLDER_PATH=
RADARR_MINIMUM_AVAILABILITY=released
AUTO_ADD_CONFIDENCE_THRESHOLD=95
HIDE_BELOW_CONFIDENCE_THRESHOLD=60
